<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  
  <meta property="og:title" content="Wahine in Web3 - A Growing Repository" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://wahineweb3.deno.dev/" />
  
  <meta name="description" content="A growing list of web3 companies by and for women.">
  <title>Wahine in Web3 🌼</title>
  
  <link rel="stylesheet" href="/assets/style.css" />
  
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Eczar&display=swap" rel="stylesheet">
  
  <style> @import url('https://fonts.googleapis.com/css2?family=Eczar&display=swap'); </style>
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
</head>

<body>

{{ content | safe }}

</body>
</html>
