<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Web3 Wāhine | Directory</title>
  <link rel="stylesheet" href="/assets/style.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Eczar&display=swap" rel="stylesheet">
  <style> @import url('https://fonts.googleapis.com/css2?family=Eczar&display=swap'); </style>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

{{ content | safe }}

</body>
</html>
